<form class="form-box" method="POST" action="/celebrities/create">
  <label>Celebrity name</label>
  <input type="text" name="name" placeholder="Cate Blanchett" required />
  <label>Occupation</label>
  <select name="occupation" required>
    <option value="" disabled selected>Choose a occupation</option>
    <option value="actor">Actor</option>
    <option value="actress">Actress</option>
    <option value="musician">Musician</option>
    <option value="comediant">Comediant</option>
    <option value="singer">Singer</option>
    <option value="unknown">Unknown</option>
  </select>
  <label>Catch phrase</label>
  <textarea name="catchPhrase" cols="30" rows="5" required>If you know you are going to fail, then fail gloriously.</textarea>
  <!--<input type="text" name="catchPhrase" placeholder="Hello world" required>-->
  <div class="form-button">
    <button type="submit">Create!</button>
  </div>
</form>