<form class="form-box" method="POST" action="/movies/create">
  <div class="form-body">
    <label> Title </label>
    <input type="text" name="title" placeholder="Once upon a time in America" required />
    <label> Genre </label>
    <select name="genre">
      <option value="" disabled selected>Choose a occupation</option>
      <option value="action">Action</option>
      <option value="comedy">Comedy</option>
      <option value="drama">Drama</option>
      <option value="fantasy">Fantasy</option>
      <option value="horror">Horror</option>
      <option value="mystery">Mystery</option>
      <option value="romance">Romance</option>
      <option value="thriller">Thriller</option>
      <option value="western">Western</option>
    </select>
    <label> Plot </label>
    <textarea name="plot" cols="30" rows="5" required>In 1968, the elderly David "Noodles" Aaronson (Robert De Niro) returns to New York, where he had a career in the
    criminal underground in the '20s and '30s. Most of his old friends, like longtime partner Max (James Woods), are long
    gone, yet he feels his past is unresolved. Told in flashbacks, the film follows Noodles from a tough kid in a Jewish
    slum in New York's Lower East Side, through his rise to bootlegger and then Mafia boss -- a journey marked by violence,
    betrayal and remorse.</textarea>
    <label> Cast </label>
    <select name="cast" multiple>
      {{#each allArtists}}
      <option value={{this._id}}>{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-button">
    <button class="button-click" type="submit">Create!</button>
  </div>
</form>